TBB/resources/schemas/engine.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:complexType name="tFps">
		<xsd:attribute name="value" type="xsd:integer" use="required" />
	</xsd:complexType>

	<xsd:complexType name="tSpeed">
		<xsd:attribute name="value" type="xsd:float" use="required" />
	</xsd:complexType>

	<xsd:complexType name="tEngine">
		<xsd:sequence>
			<xsd:element name="fps" type="tFps" />
			<xsd:element name="speed" type="tSpeed" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="engine" type="tEngine" />

</xsd:schema>
