TBB/resources/schemas/Fireset.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:include schemaLocation="_Ability.xsd"/>

	<xsd:complexType name="tFire">
		<xsd:attribute name="name" type="xsd:string" use="required" />
		<xsd:attribute name="folder" type="xsd:string" use="optional" />
	</xsd:complexType>

	<xsd:complexType name="tFireset">
		<xsd:sequence>
			<xsd:element name="fire" type="tFire" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required" />
	</xsd:complexType>

	<xsd:element name="fireset" type="tFireset" />

</xsd:schema>
