TBB/resources/schemas/gameQuickstart.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:include schemaLocation="_game.xsd"/>

	<xsd:complexType name="tQuickstart">
		<xsd:sequence>
			<xsd:element name="round" type="tConfrontation" />
			<xsd:element name="players" type="tPlayers" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:element name="gameQuickstart" type="tQuickstart" />

</xsd:schema>
