TBB/resources/schemas/permissions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:complexType name="tGesture">
		<xsd:attribute name="name" type="xsd:string" use="required" />
		<xsd:attribute name="file" type="xsd:string" use="required" />
	</xsd:complexType>

	<xsd:complexType name="tPermissions">
		<xsd:sequence>
			<xsd:element name="gesture" type="tGesture" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="permissions" type="tPermissions" />

</xsd:schema>
