TBB/resources/schemas/properties.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:complexType name="tProperties">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" />
			<xsd:element name="origin" type="xsd:string" />
			<xsd:element name="ripper" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="properties" type="tProperties" />

</xsd:schema>
