TBB/resources/schemas/sprite.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:complexType name="tExplosion">
		<xsd:attribute name="name" type="xsd:string" use="required" />
	</xsd:complexType>
	
	<xsd:complexType name="tSprite">
		<xsd:sequence>
			<xsd:element name="explosion" type="tExplosion" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="sprite" type="tSprite" />

</xsd:schema>
