TBB/TBBClean/resources/schemas/modulations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:include schemaLocation="_gesture_name.xsd"/>

	<xsd:complexType name="tGesture">
		<xsd:attribute name="name" type="tGestureName" use="required" />
		<xsd:attribute name="file" type="xsd:string" use="required" />
	</xsd:complexType>

	<xsd:complexType name="tModulations">
		<xsd:sequence>
			<xsd:element name="gesture" type="tGesture" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="modulations" type="tModulations" />

</xsd:schema>
