tags/1.beta.020/TBB/resources/schemas/point.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:include schemaLocation="_points.xsd"/>
	
	<xsd:complexType name="tPoints">
		<xsd:sequence>
			<xsd:element name="notes" type="tNotes" />
			<xsd:group ref="gPoints"/>
		</xsd:sequence>
	</xsd:complexType>	
	
	<xsd:element name="points" type="tPoints" />
	
</xsd:schema>
