tags/1.beta.013/TBB/TBBClean/resources/schemas/logstats.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:complexType name="tLaunch">
		<xsd:attribute name="count" type="xsd:long" use="required" />
		<xsd:attribute name="time" type="xsd:long" use="required" />
	</xsd:complexType>

	<xsd:complexType name="tLogstats">
		<xsd:sequence>
			<xsd:element name="regularLaunch" type="tLaunch"/>
			<xsd:element name="quickLaunch" type="tLaunch"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="logstats" type="tLogstats" />

</xsd:schema>
