tags/beta.013/TBB/TBBClean/resources/schemas/abilities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:include schemaLocation="_ability.xsd"/>

	<xsd:complexType name="tAbilities">
		<xsd:sequence>
			<xsd:element name="ability" type="tAbility" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="abilities" type="tAbilities" />

</xsd:schema>
